
  <div class="pst-wrapper" [ngStyle]="{'height':pstPixelsY+'px', 'width':pstPixelsX+'px'}">
    <pan-zoom [config]="panzoomConfig">
      <svg  [attr.width]="6*distUnit" [attr.height]="6*distUnit" [attr.viewBox]="-3*distUnit+' '+(-3*distUnit)+' '+6*distUnit+' '+6*distUnit" transform="rotate(-90)">
        <defs>

        </defs>
        <circle class="pst-circle outer" cx=0 cy=0 [attr.r]="3*distUnit"/>
        <circle class="pst-circle mid" cx=0 cy=0 [attr.r]="2*distUnit" />
        <circle class="pst-circle inner" cx=0 cy=0 [attr.r]="distUnit"/>
        <g *ngFor="let ring of [tree.innerRing, tree.midRing, tree.outerRing]; let ringnb=index;">
          <g #ring>
            <g *ngFor="let subtree of ring; let i=index;" >
              <path class="delim-edge" [attr.d]="utils.getSubdivision(i,ringnb,distUnit)"/>
              <g *ngFor="let skill of subtree.nodes">
                <path class="tree-edge" *ngFor="let otherskill of skill.edgesTo"  [attr.d]="getPath(skill,otherskill,ringnb,i)"></path>
              </g>
                <circle *ngFor="let skill of subtree.nodes"
                class="highlit" #skill
                [attr.cx]="utils.getCoordsX(skill, ringnb, i,distUnit)"
                [attr.cy]="utils.getCoordsY(skill, ringnb, i,distUnit)"
                [attr.r]="10*skill.rarity"
                [ngClass]="{'shape-red': getColor(skill.category)==='red',
                'shape-blue': getColor(skill.category)==='blue',
                'shape-green': getColor(skill.category)==='green',
                'search-result':highlighted[skill.name],
                'selected':selected[skill.name]}"
                (mouseover)="showTooltip($event,skill.name)"
                (mouseleave)="hideTooltip(skill.name)"
                (mouseup)="selectSkill(skill.name)">
              </circle>
            </g>
          </g>
        </g>
       <circle class="pst-circle center"cx=0 cy=0 cz=100 [attr.r]="distUnit/6"/>
      </svg>
    </pan-zoom>
    <div *ngFor="let ring of [tree.innerRing, tree.midRing, tree.outerRing]">
      <div *ngFor="let subt of ring">
        <skill-tooltip *ngFor="let skill of subt.nodes" [id]="skill.name" [skill]=skill [treeName]="subt.uiName"></skill-tooltip>
      </div>
    </div>


    <div class="pst-commands">
      <app-ring-selector (hasSelected)="setSelected($event)"></app-ring-selector>

      <div class="pst-commands-btn-row">
        <button (click)="turn(-1)" class="pst-rotate-btn" [disabled]='ctrlDisabled'>
          <i class="material-icons">rotate_left</i>
        </button>
        <button (click)="recenterView()" class="pst-rotate-btn">
          <i class="material-icons">center_focus_weak</i>
        </button>
        <button (click)="turn(1)"class="pst-rotate-btn" [disabled]='ctrlDisabled'>
          <i class="material-icons">rotate_right</i>
        </button>
      </div>
      <div class="pst-search">
          <input type="text" id="search" name="search" #treeSearch [(ngModel)]="searchedTerm" (keyup)="highlightNodes($event.target.value)">
      </div>

    </div>

  </div>

